body
{
    font-family: Arial, Verdana, sans-serif;
    background-image: url(graphics/background_gradient.png);
    background-repeat: repeat-x;
    background-color: #374d5b;
    margin: 0;
    padding: 0 0 20px 0;
    font-size: 13px;
    color: #333;
    text-align: center;
}

.refreshicon 
{
    background-image: url(graphics/refresh.png ) !important;
}

.backicon 
{
    background-image: url(graphics/back.png ) !important;
}

.clearicon 
{
    background-image: url(graphics/clear.png ) !important;
}

.downloadicon 
{
    background-image: url(graphics/download.png ) !important;
}

.root
{
    width: 410px;
    margin: 0 auto;
    text-align: left;
    background-color: #e6e6e6;
    position: relative;
}

#header
{
    background: #0e1d2f url(graphics/banner.png) no-repeat left;
    height: 90px;
}