body{
  font-family: Share, Verdana, Arial;
  font-size: 11px;
  background-color: #E3E6E3;
}

#wrapper{
  width: 900px;
  margin: auto;
}

#navigation{
  background-color: #448FB9;
  text-shadow: 1px 1px 1px #000;
  padding: 0.9em;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#navigation ul{
  list-style: none;
  display: inline;
}

#navigation ul li{
  display: inline;
  color: white;
}

#navigation ul li a{
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.4em 2em;
  font-weight: normal;
  letter-spacing: 0.1em;
  color: #FFF;
}
	
#navigation ul li a:hover{
  background-color: #FB6E05;
  color: white;
  cursor: pointer;
  
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#content{
  padding: 5px;
  border-top: none;
  /*border: 1px solid #3D82AC;*/
  background-color: #FAFAFA;
  
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* Classes */
.right{
	float: right;
}

.left{
	float: left;
}

.btn{
	background-color: #FFF;
	border: 1px solid #000;
}

.btn:hover{
	background-color: #000;
	color: #FFF;
}

.right{
	float: right;
}

.hervor{
  background-color: #FFC2C2;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.hervor_ajax{
  background-color: #448FB9;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.hosttoip{
  color: #FFF;
}

/* Other */
label {
  display: inline-block;
}

table th{
  border-bottom: 1px solid #000;
}

table td{
  text-align: center;
}

#tasks table{
   width: 100%;
}