/**
	By DarkCoderSc
*/

body{
	font-family : Verdana;
	color : #f9f6f1;
	font-size : 0.7em;
	background: url(../imgs/background.jpg) no-repeat center top #252525;
}

.maindiv{
	width : 760px;
	border : solid black 1px;
	margin-left: auto;
  margin-right: auto;
  padding : 5px;
  position: relative;
  background-color:#222222;
  /*some CSS3 to be more sex {OPERA,CHROME,SAFARI,IE9,FIREFOX}*/
  border-radius: 15px;
  -moz-box-shadow: 7px 7px 5px #3f3f3f;
	-webkit-box-shadow: 7px 7px 5px #3f3f3f;
	box-shadow: 7px 7px 5px #3f3f3f;
	-moz-border-radius: 15px;
}

h1{
	margin-top:0px;
	font-size:15px;
	margin-left : 15px;
}

.tusers{
	width : 100%;
  border-collapse: collapse;
}

.divusers{
	width : 730px;
	overflow:auto;
	border : solid black 1px;
	margin-left: auto;
  margin-right: auto;
  position: relative;
  /*some CSS3 to be more sex {OPERA,CHROME,SAFARI,IE9,FIREFOX}*/
  border-radius: 2px;
  -moz-box-shadow: 4px 4px 5px #3c3c3c;
	-webkit-box-shadow: 4px 4px 5px #3c3c3c;
	box-shadow: 4px 4px 5px #3c3c3c;
	-moz-border-radius: 2px;
}

.divup{
	width : 708px;
	overflow:auto;
	border : solid black 1px;
	margin-left: auto;
  margin-right: auto;
  position: relative;
  /*some CSS3 to be more sex {OPERA,CHROME,SAFARI,IE9,FIREFOX}*/
  border-radius: 2px;
  -moz-box-shadow: 4px 4px 5px #3c3c3c;
	-webkit-box-shadow: 4px 4px 5px #3c3c3c;
	box-shadow: 4px 4px 5px #3c3c3c;
	-moz-border-radius: 2px;
}

.tcmd{
	padding-left : 15px;
	padding-top : 5px;	
}

th{
	text-align:left;
	background-color : #383838;
}

.promptico
{
	text-align : Left;
	height:auto;
	min-height:16px;
	background-position: left;
	background-repeat: no-repeat;
	padding: 4px 0 4px 20px;
	background-image: url('../imgs/cmd.png');
	padding-right : 4px;
	overflow :none;
}

.listico
{
	text-align : Left;
	height:auto;
	min-height:16px;
	background-position: left;
	background-repeat: no-repeat;
	padding: 4px 0 4px 20px;
	background-image: url('../imgs/list.png');
	padding-right : 4px;
	overflow :none;
}

.getcomet
{
	text-align : Left;
	height:auto;
	min-height:39px;
	background-position: right;
	background-repeat: no-repeat;
	padding: 4px 0 4px 20px;
	background-image: url('../imgs/getcomet.png');
	padding-right : 4px;
	overflow :none;
}

.upico
{
	text-align : Left;
	height:auto;
	min-height:16px;
	background-position: left;
	background-repeat: no-repeat;
	padding: 4px 0 4px 20px;
	background-image: url('../imgs/upl.png');
	padding-right : 4px;
	overflow :none;
}


.shutico
{
	text-align : Left;
	height:auto;
	min-height:16px;
	background-position: left;
	background-repeat: no-repeat;
	padding: 4px 0 4px 20px;
	background-image: url('../imgs/shut.png');
	padding-right : 4px;
	overflow :none;
}

.usersico
{
	text-align : Left;
	height:auto;
	min-height:16px;
	background-position: left;
	background-repeat: no-repeat;
	padding: 4px 0 4px 20px;
	background-image: url('../imgs/users.png');
	padding-right : 4px;
	overflow :none;
}

.aboutico
{
	text-align : Left;
	height:auto;
	min-height:16px;
	background-position: left;
	background-repeat: no-repeat;
	padding: 4px 0 4px 20px;
	background-image: url('../imgs/about.png');
	padding-right : 4px;
	overflow :none;
}

.setico
{
	text-align : Left;
	height:auto;
	min-height:16px;
	background-position: left;
	background-repeat: no-repeat;
	padding: 4px 0 4px 20px;
	background-image: url('../imgs/settings.png');
	padding-right : 4px;
	overflow :none;
}

.countico
{
	text-align : Left;
	height:auto;
	min-height:16px;
	background-position: left;
	background-repeat: no-repeat;
	padding: 4px 0 4px 20px;
	background-image: url('../imgs/count.png');
	padding-right : 4px;
	overflow :none;
}

.cleanico
{
	text-align : Left;
	height:auto;
	min-height:16px;
	background-position: left;
	background-repeat: no-repeat;
	padding: 4px 0 4px 20px;
	background-image: url('../imgs/clean.png');
	padding-right : 4px;
	overflow :none;
}

#header{
	background-image: url('../imgs/logo.png');
	margin-left: auto;
  margin-right: auto;
  position: relative;
	width : 478px;
	height : 137px;
}

a{
	color : #f9f6f1;
	font-weight : bold;
	text-decoration : none;
}

#menu{
	width : 760px;
	margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align : center;
}

#upage{
	padding-left:5px;
	padding-bottom:3px;
	padding-top:3px;
	background-color:#383838;
}

.divcmds{
	width : 730px;
	overflow:auto;
	border : solid black 1px;
	margin-left: auto;
  margin-right: auto;
  position: relative;
  /*some CSS3 to be more sex {OPERA,CHROME,SAFARI,IE9,FIREFOX}*/
  border-radius: 2px;
  -moz-box-shadow: 4px 4px 5px #3c3c3c;
	-webkit-box-shadow: 4px 4px 5px #3c3c3c;
	box-shadow: 4px 4px 5px #3c3c3c;
	-moz-border-radius: 2px;
}

.divabout{
	width : 730px;
	border : solid black 1px;
	margin-left: auto;
  margin-right: auto;
  position: relative;
  /*some CSS3 to be more sex {OPERA,CHROME,SAFARI,IE9,FIREFOX}*/
  border-radius: 2px;
  -moz-box-shadow: 4px 4px 5px #3c3c3c;
	-webkit-box-shadow: 4px 4px 5px #3c3c3c;
	box-shadow: 4px 4px 5px #3c3c3c;
	-moz-border-radius: 2px;
}

.param{
	color : #6495ed;
	font-weight:bold;
}

#downset{
	padding-left:5px;
	padding-bottom:3px;
	padding-top:3px;
	margin:-5px;
	background-color:#383838;
}

#logindiv{
	width : 350px;
	border : solid black 1px;
	margin-left: auto;
  margin-right: auto;
  position: relative;
  /*some CSS3 to be more sex {OPERA,CHROME,SAFARI,IE9,FIREFOX}*/
  border-radius: 6px;
  -moz-border-radius: 6px;
  -moz-box-shadow: 4px 4px 5px #3c3c3c;
	-webkit-box-shadow: 4px 4px 5px #3c3c3c;
	box-shadow: 4px 4px 5px #3c3c3c;
}

/**
	Menu
*/
ul,li,ol{
	/* Simple page reset */
	margin:0;
	padding:0;
}
.menuUL li{
	/* This will arrange the LI-s next to each other */
	display:inline;
}

.menuUL li a,.menuUL li a:visited{
	/* Styling the hyperlinks of the menu as buttons */
	
	float:left;
	font-weight:bold;
	background:url(../imgs/button_bg.jpg) repeat-x center bottom #666666;
	
	/* display:block allows for additinal CSS rules to take effect, such as paddings: */
	display:block;
	border:1px solid #4D4D4D;
	color:#CCCCCC;
	border-top-color:#565656;
	
	padding:4px 6px;
	margin:4px 5px;
	height:16px;
	
	
	/* Setting a CSS3 box shadow around the button */
	
	-moz-box-shadow:0 0 1px black;
	-webkit-box-shadow:0 0 1px black;
	box-shadow:0 0 1px black;
	
	/* CSS3 text shadow */
	text-shadow:0 1px black;
}

.menuUL li a:hover{
	/* On hover show the top, lighter, part of the background: */
	background-position:center top;
	text-decoration:none;
}

#navigation{
	/* The navigation menu bar: */
	background:#222222;
	border:1px solid #111111;
	padding:5px 10px;
	width:605px;
	margin-left: auto;
  margin-right: auto;
  position: relative;
  opacity:0.7;
}

#navigation,.menuUL li a{
	/* CSS3 rounded corners for both the navigation bar and the buttons: */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
}

.clear{
	/* Old-school clear fix hack to clear the floats: */
	clear:both;
}

p.tutInfo{
	/* The tutorial info on the bottom of the page */
	margin-left : -8px;
	margin-bottom : 0px;
	padding:10px 0;
	text-align:center;
	position:fixed;
	bottom:0px;
	background:#222222;
	border-top:1px solid black;
	width:100%;
}

#stats{
	 border-radius: 3px;
  -moz-box-shadow: 4px 4px 5px #3c3c3c;
  -moz-border-radius: 3px;
	-webkit-box-shadow: 4px 4px 5px #3c3c3c;
	box-shadow: 4px 4px 5px #3c3c3c;
	float:right;
	margin-right:4px;
  font-size:0.6em;
  margin-bottom:10px;
  margin-right:10px;
  padding:5px;
  border:1px solid black;
  background-color:#232323;
}

img{
	border:0px;
}

input[type=submit], input[type=button], input[type=reset]{
	text-align:center;
	font-weight:bold;
	background:url(../imgs/button_bg.jpg) repeat-x center bottom #666666;
	border:1px solid #4D4D4D;
	color:#CCCCCC;
	border-top-color:#565656;
	padding:4px 6px;
	margin:4px 5px;
	height:16px;
	-moz-box-shadow:0 0 1px black;
	-webkit-box-shadow:0 0 1px black;
	box-shadow:0 0 1px black;
	text-shadow:0 1px black;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	height:23px;
}

input[type=submit]:hover , input[type=button]:hover, input[type=reset]:hover{
	background-position:center top;
	text-decoration:none;
}

input[type=text], input[type=password]{
	background:url(../imgs/button_bg.jpg) repeat-x center bottom #666666;
	border:1px solid #4D4D4D;
	color:#CCCCCC;
	border-top-color:#565656;
	-moz-box-shadow:0 0 1px black;
	-webkit-box-shadow:0 0 1px black;
	box-shadow:0 0 1px black;
	text-shadow:0 1px black;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	height:18px;
	margin-left: 5px;
}

#errmsg{
	height: 35px;
	border : 1px solid #986265;
	margin:5px;
	padding:5px;
	background-color:#f4e6e9;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	-moz-box-shadow:0 0 5px red;
	-webkit-box-shadow:0 0 5px red;
	box-shadow:0 0 5px red;
	margin-bottom : 12px;
}

.errico
{
	text-align : Left;
	min-height:16px;
	background-position: left;
	background-repeat: no-repeat;
	padding: 4px 0 4px 20px;
	background-image: url('../imgs/err.png');
	padding-right : 4px;
	overflow :none;
	color:red;
	margin-top:6px;
}

#okmsg{
	height: 35px;
	border : 1px solid green;
	margin:5px;
	padding:5px;
	background-color:#dbffba;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	-moz-box-shadow:0 0 5px green;
	-webkit-box-shadow:0 0 5px green;
	box-shadow:0 0 5px green;
	margin-bottom : 12px;
}

.okico
{
	text-align : Left;
	min-height:16px;
	background-position: left;
	background-repeat: no-repeat;
	padding: 4px 0 4px 20px;
	background-image: url('../imgs/ok.png');
	padding-right : 4px;
	overflow :none;
	color:green;
	margin-top:6px;
}

/**
	Cool box for vertex about
*/
#coolbox{
	border: 1px solid black;
	width: 450px;
	padding: 5px;
	/*Shadows*/
	-moz-box-shadow:0 0 5px black;
	-webkit-box-shadow:0 0 5px black;
	box-shadow:0 0 5px black;
	/*Border radius*/
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
	background-color : #303030;
}

select{
	border : 1px solid black;
	background:url(../imgs/button_bg.jpg) repeat-x center bottom #666666;
	color:#CCCCCC;
}

.btn:hover{
	background-position:center top;
	text-decoration:none;
}

.btn{
	background:url(../imgs/button_bg.jpg) repeat-x center bottom #666666;
	border:1px solid #4D4D4D;
	color:#CCCCCC;
	border-top-color:#565656;
	-moz-box-shadow:0 0 1px black;
	-webkit-box-shadow:0 0 1px black;
	box-shadow:0 0 1px black;
	text-shadow:0 1px black;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	height:18px;
	margin-left: 5px;
	width : 100px;
}