  body{background-color:#222222;color:#D8D8D8; font-family:Verdana; padding:0px;margin:0px;}
 a:link{color:#9A9AA0;text-decoration:none;}
 a:visited{color:#CECEDE;text-decoration:none;}
 a:hover, a:active{color:#E9E9ED;text-decoration:none;}	
 pre{margin:0px; padding:6px; border: 1px solid #505050; width:640px; overflow:scroll; }
 .aut
 {
  background-color:#2F2F2F;
  border: 1px solid #DD0000;
  margin: 0 auto;
 }
 .panel{padding:2px;background-color:#3A3A3A;color:#B9B9BD;border:1px solid #0D0D0D; }
#reconnect{color:#80FF80;}
 .btn
 {
  background:#292929; 
  font-size:10px; 
  border:1px solid #0D0D0D; 
  font-family:Verdana; color:#888;
  text-align: center;
 }
.btn:hover
 {
  background:#292929; 
  font-size:10px; 
  border:1px solid #80FF00; 
  font-family:Verdana; color:#FFFFFF;
  text-align: center;
 }
input, select,textarea
 {
  background:#444444; 
  font-size:12px; 
  border:1px solid #0D0D0D; 
  font-family:Verdana; color:#80FF00;
 }   
 
hr{
 border: 0;
 background-color: #222222;
 height: 1px;
 width:90%;
 margin-top:10px;
 margin-bottom:10px;
}
.button
 {
  width:70px;
  cursor:hand;
 }