body{
	font-family: Verdana, Arial;
	font-size: 11px;
	background-color: #1A1A1A;
}

#logo{
    left: 50%;
    margin-left: -185px;
    margin-top: -216px;
    position: absolute;
    top: 50%;
}

#wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -100px;
	box-shadow: 0 0 1em #000000;
}

#box{
	background-color: #1C1C1C;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	width: 262px;
	padding: 5px;
}

#login{
	border: 1px solid #1C1C1C;
	color: #BABAB8;
	padding: 10px;
	width: 250px;
	/* #202020 */
}

#login p{
	margin-top: 20px;
}

#login input{
	background-color: #1A1A1A;
	border: none;

	border-bottom: 1px dotted #434343;
	color: #434343;
	width: 185px;
}

#login .btn{
	color: silver;
	width: 100px;
	margin-left: 80px;
	border: 1px solid #434343;
	
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#login .btn:hover{
	border: 1px solid #0290CB;
}

label {
	display: inline-block;
	width: 65px;
}

.err{
	text-align: center; 
	color: red;
	margin-left: 94px;
}