.overlay_zX {
	background: #85BBEF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.zX_nw {
  background: url("zX/titlebar-left-focused.png") no-repeat 0 0;
  width:6px;
  height:21px;
}
.zX_n {
  background: url("zX/titlebar-mid-focused.png") repeat-x 0 0;			
  height:21px;
}
.zX_ne {
  background: url("zX/titlebar-right-focused.png") no-repeat 0 0;			
  width:6px;	  
  height:21px;
}
.zX_w {
  background: url("zX/frame-left-focused.png") repeat-y top left;			
  width:3px;
}

.zX_e {
  background: url("zX/frame-right-focused.png") repeat-y top right;			
  width:3px;	  
}

.zX_sw {
  background: url("zX/frame-bottom-left-focused.png") no-repeat 0 0;			
  width:5px;
  height:3px;
}
.zX_s {
  background: url("zX/frame-bottom-mid-focused.png") repeat-x 0 0;			
  height:3px;
}
.zX_se, .zX_sizer {
  background: url("zX/frame-bottom-right-focused.png") no-repeat 0 0;			
  width:5px;
  height:3px;
}

.zX_sizer {
	cursor:se-resize;	
}

.zX_close {
	width: 21px;
	height: 21px;
	background: url("zX/button-close-focused.png") no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:5px;
	cursor:pointer;
	z-index:1000;
}

.zX_minimize {
	width: 21px;
	height: 21px;
	background: url("zX/button-minimize-focused.png") no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:26px;
	cursor:pointer;
	z-index:1000;
}

.zX_maximize {
	width: 21px;
	height: 21px;
	background: url("zX/button-maximize-focused.png") no-repeat 0 0;			
	position:absolute;
	top:0px;
	right:47px;
	cursor:pointer;
	z-index:1000;
}


.zX_title {
	float:left;
	height:14px;
	font-size:12px;
	text-align:center;
	margin-top:2px;
	width:100%;
	color:#FFF;
}

.zX_content {
	overflow:auto;
	color: #ffffff;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	background:#585858;
	border-top: 1px solid #484848;
}


/* FOR IE */
* html .zX_minimize {
	background-color:;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/zX/button-minimize-focused.png", sizingMethod="crop");
}

* html .zX_maximize {
	background-color:;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/zX/button-maximize-focused.png", sizingMethod="scale");
}

* html .zX_close {
	background-color:;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/zX/button-close-focused.png", sizingMethod="crop");
}