* {
	padding: 0px;
	margin: 0px;
 }


* body {
	background: #404040;
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #ffffff ;
}

a:link, a:visited {
	color: #CC3333;
	text-decoration: none;
	border-bottom: 1px solid #CC3333;
}

a:hover, a:active {
	color: #CC3333;
	border-bottom: 1px dotted #CC3333;
	
}

table, th, tr, td {
	color: #ffffff ;
}
th, td {
	padding: 3px;
}

.showbot {
	width: 750px;
}

.showbot, .showbot td, .showbot tr, .showbot th {
	padding: 3px !important;
	border: 1px solid #999999 ;
}
.showbot th {
	background: url("themes/zX/thead.png") repeat-x ;
	height: 20px ;
	text-align: left;
}
.showbot td {
	font-size: 12px;
}

.smalltable {
	width: 750px;
	padding: 3px !important;
	border: 1px solid #999999;
}

.smalltable th {
	background: url("themes/zX/thead.png") repeat-x ;
	height: 20px ;
	text-align: left;
}

.smalltable td, .smalltable th {
	font-size: 12px !important;
}

.stats {
	margin: 5px;
}

#papericons {
	position:absolute;
	bottom: 20px;
	right:0;
}
#mainicons {
	position:absolute;
	top:0;
	left:0;
}

#bottombar {
	border-top: 1px solid #313131;
	outline: 1px solid #252525;
	background: #191919;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
#bottombar p {
	margin: 10px;
}
label {
    border-bottom: 1px dotted #ffffff;
}

input, select {
    border: 1px solid #000000;
    padding: 2px;
    margin: 3px;
}

.green {
	font-weight: bold;
	color: #00CC00 ;
}
.red {
	font-weight: bold;
	color: #FF0000 ;
}