html, body {
	background:#0f0f0f url(desktop.jpg) no-repeat left top;
        font: normal 12px tahoma, arial, verdana, sans-serif;
	margin: 0;
	padding: 0;
	border: 0 none;
	overflow: hidden;
	height: 100%;
}

    .list-bot-info{
        color:#996666;
        font:normal 9px tahoma,arial,helvetica;
        text-decoration:none;
        cursor: pointer;
    }

    #logo{
        position:absolute;
        left:500px;
        top:300px;
        width:100%;
        height:100%;
        z-index:0;
    }

    #loader-mask{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        z-index:20000;
        background:#0f0f0f;
    }
    #loader{
        position:absolute;
        left:45%;
        top:40%;
        padding:0px;
        z-index:20001;
        height:auto;
    }
    #loader a {
        color:#225588;
    }
    #loader .loader-indicator{
        color:#444;
        font:bold 13px tahoma,arial,helvetica;
        text-align: center;
        height:76px;
        width:200px;
        border: 1px #000 solid;
        background:#FEFEFE url(images/start-loader.gif) no-repeat center center !important;
        float:left;
        vertical-align:top;
        -moz-opacity:0.7;
        opacity:.70;
        filter:alpha(opacity=70);
    }
    #loader-msg {
        color:#aaaaaa;
        font-size: 9px;
        font-family: arial,tahoma,sans-serif; 
        
    }

    .comment {
     
    }

    .param {
      color:#333333;
      /*font-size:10px;*/
      font-weight: bold;
    }

    .value {
      color:#996666;
      /*font-size:10px;
      font-weight: bold;*/
    }


    blockquote {
        width: 240px;
	    margin: 0px;
	    padding: 3px;
        padding-left: 55px;
        display: block !important;
        font-size: 9px;
	    text-align: justify;
	    font-family: arial,tahoma,sans-serif;
        border: 1px solid #99BBE8;
        color: #666666;
        background-color: #FBF8F0;
	    background-image: url(images/help.png);
	    background-repeat: no-repeat;
	    background-position: left top;
    }

/* icons used in the toolbar */
.win {
	background-image:url(images/win.png) !important;
}
.save {
	background-image:url(images/save.png) !important;
}
.cancel {
	background-image:url(images/cancel.png) !important;
}
.refresh {
	background-image:url(images/refresh.png) !important;
}
.print {
	background-image:url(images/print.png) !important;
}
.add {
  background-image:url(images/add.png) !important;
}
.edit {
	background-image:url(images/edit.png) !important;
}
.details {
	background-image:url(images/details.png) !important;
}
.remove {
	background-image:url(images/delete.png) !important;
}
.search {
	background-image:url(images/search.png) !important;
}
.print{
	background-image:url(images/print.png) !important;
}
.wincopy {
	background-image:url(images/wincopy.gif) !important;
}

/* styles used for the cells */
.readonlycell { 
  /*background-color:#336600 !important;*/
}
.coolcell { 
  /*background-image:url(images/cellbck.jpg) !important;
  background-color:#EEFF33 !important;*/
}

.build { 
  color: #666666;
}

.button {
  border: 1px #CCCCCC solid;
  background-color:#EEFF33 !important;
}

.stats{
    margin:15px 0 0 15px;
    font:normal 10px tahoma,arial,verdana,sans-serif;
    text-align:center;
    border: 1px #CCCCCC solid;
    padding: 3px;
    width: 100%;
}

#x-desktop {
	width: 100%;
	height: 100%;
	border: 0 none;
	position: relative;
    overflow:hidden;
    zoom:1;
}

/* Desktop Shortcuts */
#x-shortcuts td {
    float:left;
    margin:15px 0 0 15px;
    clear:left;
    width:100px;
    font:normal 10px tahoma,arial,verdana,sans-serif;
    text-align:center;
    zoom:1;
    display:block;
}
#x-shortcuts td a {
    width:100px;
    display:block;
    color:white;
    text-decoration:none;
}
#x-shortcuts td div {
    width:100%;
    color:white;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor:pointer;
}
.ext-ie #x-shortcuts td img {
    background:transparent !important;
}
#x-shortcuts td a:hover {
    text-decoration:underline;
}

#x-shortcuts tr{float:left;}
#x-shortcuts td{float:left;}
#x-shortcuts dd strong{display:block;}
/*float-nowrap for Safari, Opera, Firefox*/
#x-shortcuts td,#x-shortcuts dd{display:table-cell;vertical-align:top;}
#x-shortcuts tr{display:table} 

#x-shortcuts td{float:none;}
/*Float nowrap for IE*/
#x-shortcuts tr{white-space:nowrap;}
#x-shortcuts td, #x-shortcuts dd {
	display:inline;
	vertical-align:middle;
	zoom:1;
	}


/* shortcuts DDoS */
#addtask-ddos-win-shortcut img {
    width:48px;
    height:48px;
    text-decoration:none;
    background-image: url(./images/addtask-ddos.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/addtask-ddos.png', sizingMethod='scale');
}
#task-ddos-win-shortcut img {
    width:48px;
    height:48px;
    text-decoration:none;
    background-image: url(./images/task-ddos.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/task-ddos.png', sizingMethod='scale');
}

/* shortcuts SPAM */
#addtask-spam-win-shortcut img {
    width:48px;
    height:48px;
    text-decoration:none;
    background-image: url(./images/addtask-spam.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/addtask-spam.png', sizingMethod='scale');
}
#task-spam-win-shortcut img {
    width:48px;
    height:48px;
    text-decoration:none;
    background-image: url(./images/task-spam.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/task-spam.png', sizingMethod='scale');
}
#addtemplate-spam-win-shortcut img {
    width:48px;
    height:48px;
    text-decoration:none;
    background-image: url(./images/addtemplate-spam.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/addtemplate-spam.png', sizingMethod='scale');
}
#generate-template-spam-win-shortcut img {
    width:48px;
    height:48px;
    text-decoration:none;
    background-image: url(./images/generate-template-spam.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/generate-template-spam.png', sizingMethod='scale');
}


/* shortcuts Loads */
#addtask-loads-win-shortcut img {
    width:48px;
    height:48px;
    text-decoration:none;
    background-image: url(./images/addtask-loads.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/addtask-loads.png', sizingMethod='scale');
}
#task-loads-win-shortcut img {
    width:48px;
    height:48px;
    text-decoration:none;
    background-image: url(./images/task-loads.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/task-loads.png', sizingMethod='scale');
}

/* shortcuts Others */
#stats-win-shortcut img {
    width:48px;
    height:48px;
    text-decoration:none;
    background-image: url(./images/stats.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/stats.png', sizingMethod='scale');
}
#bots-win-shortcut img {
    width:48px;
    height:48px;
    text-decoration:none;
    background-image: url(./images/bots.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/bots.png', sizingMethod='scale');
}
#file-win-shortcut img {
    width:48px;
    height:48px;
    text-decoration:none;
    background-image: url(./images/file.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/file.png', sizingMethod='scale');
}


#grid-view{
	border: 0px solid #f0f0f0;
	font-family:tahoma, verdana;
        font-size: 9px;
        padding-left: 50px;
        color: #aaaaaa;
}

#stats {
  border: 1px #cccccc solid;
  width: 300px;
}
#stats td {
  padding-left: 5px;
}
#stats .tr0 {
  background-color: #FCF9F5;
}
#stats .tr1 {
  background-color: #F5EDE2;
}
.title {
  border: 1px #cccccc solid;
  background-color: #C2DDFE;
  width: 100%;
  padding: 5px;
  margin: 5px;
  font-family:tahoma, verdana;
  font-size: 12px;  
  color: #333333;
}

/*
 * FileUploadField component styles
 */
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}

        .upload-icon {
            background: url('images/file_upload.png') no-repeat 0 0 !important;
        }
        #fi-button-msg {
            border: 2px solid #ccc;
            padding: 5px 10px;
            background: #eee;
            margin: 5px;
            float: left;
        }

.x-grid3-progresscol .x-grid3-cell-inner {
  padding: 0px 0px 0px 5px;
}

.x-grid3-progresscol .x-progress-bar {
  height: 16px;
}

.x-grid3-progresscol .x-progress-inner {
  height: 16px;
}

.x-grid3-progresscol .x-progress-text-front-ie6 {
  padding: 2.5px 5px;
}

.x-grid3-progresscol .x-progress-text-front {
  padding: 2px 5px;
}

.x-progress-bar-red,.x-progress-bar-orange,.x-progress-bar-green {
  border-bottom: 1px solid #7fa9e4;
  float: left;
  height: 16px;
}

.x-progress-bar-red {
  background: #ff0000 url(images/progress-bg-red.gif) repeat-x scroll left
    center;
  border-top: 1px solid #ecb7ad;
}

.x-progress-bar-orange {
  background: #9cbfee url(images/progress-bg-orange.gif) repeat-x scroll
    left center;
  border-right: 1px solid #deab7e;
  border-top: 1px solid #d7b290;
}

.x-progress-bar-green {
  background: #00ff00 url(images/progress-bg-green.gif) repeat-x scroll
    left center;
  border-right: 1px solid #5bd976;
  border-top: 1px solid #79e18f;
}