body
{
background-image:url('sys/bg1.jpg');
background-repeat:no-repeat;
background-position:right top;
background-color:#000;
color: #CCC;
font-size:18;
margin:20px 0 0 20px;
}
h2 { color:#F00;
font-size:28px;
text-align:left;
font:small-caps;
}
span {
	color:#FC0;
	font-size:20px;}
	
block1 { 
width: 200px; 
background: #C0C0C0;
padding: 5px;
padding-right: 20px; 
border: solid 1px black; 
float: left;
}
#container{
	margin: 30px 0 0 0;
	width:680px;
	background-color:#C0C0C0;
	padding-bottom:20px;
	text-align:center;
	opacity: 0.7;
	border-radius: 6px;
}
#content {margin:0 20px;}
p.sig{	
	margin:0 auto;
	width:680px;
	padding:1em 0;
}

#nav {
border-radius: 6px;
float: left;
padding: 0;
list-style: none;
background-color: #C0C0C0;
 }
 
#nav li 
{
float: left; 
}
#nav li a 
{
display: block;
padding: 8px 30px;
text-decoration: none;
font-weight: bold;
color: #000000;
border-right: 1px solid #000;
}

#nav li:hover 
{
	background-color: #DBDBAE;
	border-radius: 6px;
}

.cellsBlock {
  width: 100%;
  display: table;
}
.cellLeft, .cellMiddle, .cellRight {
  display: table-cell !important;
  display: inline;
}
.cellLeft, .cellRight {
  width:35%;
}
.cellMiddle {
  width:30%;
}
.mode {
	border-radius: 6px;
	background-color: #E2E2E2;
	color: #7D0000;
	padding: 5px 0 5px 10px;
	width: 680px;
	height: 300px;
	opacity: 0.7;
	overflow: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}


em  {
	color:#F00;
	font-size:14px;
	font-style:italic;
}
textarea { border-radius: 6px;
opacity: 0.8;}

textarea:hover { border-radius: 6px;
}