body{
	font-size: 13px;
	font-family: Verdana, Tahoma, Arial;
}

#wrapper{
	width: 760px;
	margin: auto;
}

#header{
	background-image: url('../img/header.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 85px;
}

#navigation{
	padding: 0.8em;
	border: 1px solid grey;
	margin-top: 10px;
	background-image: url('../img/navi.png');
	background-repeat: repeat-x;
	
	-moz-border-radius: 0.4em;
	-khtml-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
}

#navigation ul{
	list-style: none;
	display: inline;
}

#navigation ul li{
    display: inline;
    margin: 0.4em;
}
	
#navigation ul li a{
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.8em 2em;
	color: black;
}
	
#navigation ul li a:hover{
	color: white;
	background-color: #00B4E0;
}

#navigation li.current a {
	color: white;
	background-color: #00B4E0;
}

#content{
	padding: 0.5em;
	margin-top: 10px;	
	border: 1px solid grey;
	background-color: white;
	
	-moz-border-radius: 0.4em;
	-khtml-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
}

#footer{
	background-image: url('../img/navi.png');
	background-repeat: repeat-x;
	padding: 0.2em;
	border: 1px solid grey;
	margin-top: 10px;
	text-align: right;
	
	-moz-border-radius: 0.4em;
	-khtml-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
}

#off,#on{
	color: white;
	text-align: center;
	width: 3.7em;
	border: none;
}

#off{
	background-color: red;
}

#on{
	background-color: lime;
}

#kleiner{
	width: 3.7em;
	text-align: center;
}


#mittel{
	width: 10em;
	text-align: center;
}

#groesser{
	width: 30em;
}

.button, .button:hover{
	background-repeat: repeat-x;
	border: 1px solid black;
	cursor: pointer;
	color: black;
}

.button{
	background-image: url('../img/button.png');
}

.button:hover{
	background-image: url('../img/button_hover.png');
}

.td{
	border-bottom: 0.1em solid silver;
	background-color: white;
}

.tb{
	border: 1px solid silver;
	width: 15em;
}

.tb:hover, .tb:focus{
	background-color: #EEEEEE;
}

table th{
	border-bottom: 1px solid black;
	padding: 3px;
}

table td{
	border-bottom: 1px solid grey;
}

label {
	display: inline-block;
	width: 9em;
}

img{
	border: none;
	cursor: pointer;
}