* {
	padding: 0px;
	margin: 0px;
 }


* body {
	background: #171717;
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #eeefff;
}

.font {
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #eeefff;
}

#banner {
	position: absolute;
	left: 0px;
	bottom: 50px;
	height: 309px;
	width: 600px;
	background: url('images/banner.png') no-repeat;
}

h1, h2, h3, h4, h5, h6 {
	color: #eeefff;
}

a:link, a:visited {
	color: #85ccd0;
	text-decoration: none;
	border-bottom: 1px solid #85ccd0;
}

a:hover, a:active {
	color: #85ccd0;
	border-bottom: 1px dotted #85ccd0;
	
}

table, th, tr, td {
	color: #eeefff;
}
th, td {
	padding: 3px;
}

ul {
	margin-left: 20px;
}

.showbot {
	width: 750px;
}

.showbot, .showbot td, .showbot tr, .showbot th {
	padding: 3px !important;
	border: 1px solid #3d3d3d ;
}
.showbot th {
	background: url("themes/zX/thead.png") repeat-x ;
	height: 20px ;
	text-align: left;
}
.showbot td {
	font-size: 12px;
}

.smalltable {
	padding: 3px !important;
	border-collapse:separate;
	border-spacing: 1px;
	font-size: 11px;
}

.smalltable th {
	border-bottom: 1px solid #737373;
	height: 20px ;
	text-align: left;
}

.smalltable td {
	border-bottom: 1px solid #737373;
}

.smalltable td, .smalltable th {
	padding: 3px !important;
}

.stats {
	margin: 5px;
}

#papericons {
	position:absolute;
	bottom: 20px;
	right:0;
}
#mainicons {
	position:absolute;
	top:0;
	left:0;
}

#bottombar {
	border-top: 1px solid #292929;
	outline: 1px solid #292929;
	background: #373737;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
#bottombar p {
	margin: 10px;
}
label {
    border-bottom: 1px dotted #ffffff;
}

input, select {
    border: 1px solid #b3b3b3;
    padding: 2px;
    margin: 3px;
}

.green {
	font-weight: bold;
	color: #8ddd4c ;
}
.red {
	font-weight: bold;
	color: #dd6b4c ;
}

#time {
	float: right;
}

.padding {
	margin: 5px;
}

a.button {
	width:200px;
	background-color:#6d6d6d;
	border:1px solid #3d3d3d;
	padding: 2px 6px 2px 6px;
	color: #222222;
	margin: 3px;
	font-family:Verdana;
	position: relative;
	font-size: 10px;
	top: 5px;
}

.icon {
	padding: 6px;
}

.icon:hover {
	padding: 5px;
	border: 1px solid #747CA6;
	background: #838383;
}