a:visited {
	text-decoration:	none; 
	color:			#1b84ec; 
}
a:link {
	text-decoration:	none;
	color:			#1b84ec; 
}
a:hover { 
	text-decoration:	none; 
	color:			black; 
}
#body {
	background-image:	url("./images/background.png"); 
	background-repeat:	repeat-x;
	font-family: 		Verdana;
}
#logo {
	background-image:	url("./images/logo.png");
	border:		0;
	width: 		600px;
	height: 		150px;
	margin:		auto;
}
#box_left {
	position:		absolute; 
	background-color:	#f8f8f8; 
	left:			0; 
	width:			16%; 
	border: 		1px solid;
	margin-left:		50px;
	font-size: 		12px;
}

#box_right {
	position:		absolute;
	background-color: 	#f8f8f8; 
	right:			0;
	width:			16%; 
	border: 		1px solid;
	margin-right:		50px; 
	font-size: 		12px;
}
#box_mid {
	position:		absolute;
	background-color: 	#f8f8f8; 
	left:			17%; 
	right:			17%; 
	border: 		1px solid;
	margin-left:		50px; 
	margin-right:		50px;
	font-size: 		12px;	
}

#bar {
	background-image:	url("./images/bar.png"); 
	width:			100%;
	height:		30px;
}
#bar_text {
	position:		relative;
	top:			6px;
	color: 		white;
	font-size: 		16px;
}
.center {
	text-align:		center;
	margin:		auto;
}
.font {
	color:			#1b84ec;
}
#table {
	margin:		auto;
	text-align:		left;
}