
body {
	background-color: #000000;
	color: #FFFFFF;
	font-family:"Courier New", Courier, monospace;
	font-size: small;
	overflow:hidden;
}

span.PanelHeader {
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size: 1.7em;
	font-weight: bold;
	font-variant: small-caps;
	text-transform: lowercase;
}
span.PanelSubHeader {
	display:block;
	margin-left:auto;
	margin-right:auto;
		text-align:center;
	font-size: 1.4em;
	font-weight: bold;
	font-variant: small-caps;
	text-transform: lowercase;

}
input {
    color:#FFFFFF;
	background-color:#000000;
	border: 1px solid #FFFFFF;
	font-family: Courier New, Courier, mono;
	font-size: small;
}
select {
    color:#FFFFFF;
	background-color:#000000;
	border: 1px solid #FFFFFF;
	font-family: Courier New, Courier, mono;
	font-size: small;
}
a:link {
	color: #FFFFFC;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFFFFC;
}
a:hover {
	text-decoration: underline;
	color: #FFFFFC;
}
a:active {
	text-decoration: none;
	color: #FFFFFC;
}
div.precipitationBGGray {border: 1px solid white;/*background:transparent url(../img/line1.png) repeat scroll 0% 50%;*/height:17px;/*margin-left:5px;margin-right:5px;/*margin-top:.1em;*/text-indent:-1000px;width:400px;}
div.curPrecipitation {background:transparent url(../img/line2.png) repeat scroll 0% 50%;height:17px;vertical-align:middle;margin-left:2px;margin-right:2px;}

