

div#LoginPanel {
	position:relative;
	top:75px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid white; 
	width: 250px;
	height:225px;
	float:inherit;
}
div#LoginControls {
	text-align:center;
	font-size:small;
}
div#LoginResponse {
	text-align:center;
	font-size:small;
}