div#StatisticsPanel {
	display:block;
	float:right;
	border: 1px solid white;
	position:absolute;
	bottom:1px; 
	width:200px;
	right:1px;
	/*top:1px;*/
	height:400px;
	background-color:#000000;
}
div#SystemPanel {
		overflow:hidden;
	display:block;
	border: 1px solid white;
	position:absolute;
	bottom:0px; 
	right:-1px;
	left:-1px;
	height:25px;
	background-color:#000000;
}
div.desktop-grid {
	float:left;
}
div.desktop-icon {
	float:left;
	vertical-align:top;
	display:inline;
	width: 96px; 
	height: 96px;
	overflow:hidden;
	padding: 5px 0 0 0;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	z-order:-1;
	

}
div.SystemPanelItem {

	float:left;
	vertical-align:middle;
	display:inline;
	width: 100px;
	height: 100%;
	overflow:hidden;
	/*padding: 0px 0px 0px 0px;*/
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:-1px;
	left:-1px;
	border: 1px solid white;
	background-color:#000000;
	font-weight: bold;
	font-variant: small-caps;
	text-transform: lowercase;
	font-size: 1.4em;
}
div.desktop-background {
	position:absolute;
	display:block;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	vertical-align:middle;
	width:100%;
	height:100%;
	right:-1px;
	left:-1px;
	top:250px;
	z-index:-1;
	

	
}
div.desktop-notice {
	position:absolute;
	bottom:32px;
	right:21px;
	text-align:center;
	
}
div.desktop-notice-left {
	position:absolute;
	bottom:32px;
	left:21px;
	text-align:center;
	
}

div.desktop-window {
	position:relative;
	float:left;
	border: 1px solid white;
	vertical-align:top;
	display:inline;
	width: 320px; 
	height: 240px;
	overflow:hidden;
	padding-top: 5px;
	background-color:#000000;
	opacity:0.92;
}
div.desktop-window-content {
	padding-left: 5px;	
}
div.desktop-window-header {
	position:relative;
	top:-6px;
	left:-1px;
	width:100%;
	border: 1px solid white;
	font-size: 1.4em;
	font-weight: bold;
	font-variant: small-caps;
	text-transform: lowercase;
	background-color:#000000;
	cursor:pointer;
}
/*
div.desktop-window-header:hover {
	color:#000;
	background-color:#FFF;
}
*/

span#desktop-window-control-close {
	position:absolute;
	right:2px;
	top:2px;
	float:right;
	font-size:medium;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
}
span#desktop-window-control-minimize {
	position:absolute;
	right:16px;
	top:-5px;
	float:right;

}

div.radar_main { text-align:center; display: block;
    margin-left: auto;
    margin-right: auto;}
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.dropdown { border: 1px solid white; overflow:auto;}
.dropdown span.menuItem {display:block; text-align:left;white-space:nowrap;cursor:pointer;}
.dropdown span.menuItem:hover {display:block; text-align:left;white-space:nowrap;background-color:#fff; color:#000;}

#Stats_Table {
	width:100%;
}
#Tasks_Table {
	width:100%;
}
/*
.dropdown a {text-align:left; padding-left:2px; margin:0; white-space:nowrap;}
.dropdown a.menu:link {text-decoration:none; display:block; background-color:#000; color:#fff;}
.dropdown a.menu:visited {text-decoration:none; display:block; background-color:#000; color:#fff;}
.dropdown a.menu:hover {text-decoration:none; display:block; background-color:#fff; color:#000;}
.dropdown a.menu:active {text-decoration:none; display:block; background-color:#fff; color:#000;}*/