div.TaskCenter {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
div#TaskCredits {
	
	position:absolute;
	bottom:12px;
	right:25px;
	text-align:right;
}
div#TaskNotice {
	position:fixed;top:250px;left:5%;right:5%;
	text-align:center;
	
}
