body
{
	background: #e8edff url('images/back.jpg') repeat-x;
	background-color:#09387E;
}
input 
{
	background: #b9c9fe url('images/gradhead.png') repeat-x;
	width:150px;
	border-color:#FFFFFF;
	border-width:1px;
	border-style:solid;
	color:#339;
	margin: 0px;
}
#button 
{
	border-width:0px;
	border-style:none;
	margin: 0px;
	background:none;
	width:16px;
}
#div-style
{
	margin: 45px;
}
#gradient-style
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 800px;
	text-align: left;
	border-collapse: collapse;
}
th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('images/gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#th-menu
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('images/gradmenu.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
td
{
	padding: 8px; 
	font-size: 11px;
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #DDEEFE url('images/gradback.png') repeat-x;
}
tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
tbody tr:hover td
{
	background: #d0dafd url('images/gradhover.png') repeat-x;
	color: #339;
}
LI {
	LIST-STYLE-TYPE: none
}
A {
	border:none;
	outline: none;
	COLOR: #fff;
}
#page {
	border:none;
	outline: none;
	COLOR: #669;
}

A:link { text-decoration: none }
A:active { text-decoration: none }
A:visited { text-decoration: none }
#unitip {
	position: absolute;
	z-index: 1000;
	top: -1000px;
	color: #fff;
	font: normal normal 1.1em/15px Verdana, Arial, Helvetica, sans-serif;
	display: none;
}

#unitippoint, #unitipmid, #unitipcap {
	position: relative;
	top: 0px; 
	left: 0px;
	width: 145px;
	display: block;
}
	
#unitippoint { 
	background: url(images/TipPoint.png) no-repeat; 
	height: 19px; 
	overflow: hidden; 
}
	
#unitipmid { 
	background: url(images/TipMid.png) repeat; 
	width: 115px;
	height: auto; 
	padding: 5px 15px;
}
	
#unitipcap { 
	background: url(images/TipCap.png) no-repeat; 
	height: 7px; 
	overflow: hidden; 
}
img { border: none; } 
